body {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;

}

title {
    font-size: 60px;
    color: rgb(219, 156, 255);
}

p {
    font-family: arial;
    font-size: 24px;
}
h1{

}
@keyframes animationNameGoesHere {
    
}